/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.rowthefutureof {
  gap: var(--space-5xl);
  display: flex;
  flex: 1;
  align-items: flex-start;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
  }
}

.image-11 {
  height: 256px;
  align-self: center;
  width: 50%;
  object-fit: contain;
  border-radius: var(--radius-sm);
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.columnthefuture {
  margin-top: 16px;
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.thefutureof {
  color: var(--white_a700) !important;
  width: 100%;
  line-height: 23px;
}

.description-9 {
  color: var(--gray_500) !important;
  margin-top: 12px;
  width: 100%;
  line-height: 24px;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.columnblog_one {
  margin-top: 34px;
  @media only screen and (max-width: 1050px) {
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
  }
}

.rowblog_one {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.search {
  color: var(--gray_500);
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  gap: var(--space-lg);
  background-color: var(--blue_gray_900) !important;
  height: 48px;
  border-radius: 12px var(--radius-sm) var(--radius-sm) 12px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.dhi-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  background-color: var(--blue_gray_900);
  border-radius: var(--radius-sm) 0px 0px var(--radius-sm);
}

.search-1 {
  height: 24px;
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  padding-left: var(--space-5xl);
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  width: 24px;
  object-fit: contain;
}

.blog_four {
  margin-top: 28px;
  margin-left: 16px;
  margin-right: 16px;
  gap: var(--space-10xl);
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.rowarrowright {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-5xl);
}

.arrowright_one {
  height: 40px;
  width: 40px;
}

.pagination_one {
  display: flex;
  li {
    color: var(--white_a700);
    font-size: 14px;
    font-weight: 400;
    width: 7.49px;
    height: 21px;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
  }

  & .active {
    font-weight: 700 !important;
    background-color: var(--blue_gray_900) !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
  }
}

.vectorzero_one {
  height: 18px;
  margin-left: 10px;
  width: 18px;
}

.rowtermsof_one {
  margin-top: 62px;
  margin-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
  }
}

.columntermsof {
  gap: var(--space-8xl);
  display: flex;
  width: 76%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.rowtermsof-1 {
  margin-right: 18px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-6xl);
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}
