/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.nestedrows {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.nestedrows-1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--gray_200);
}

.rowelements {
  display: flex;
  padding: var(--space-4xl);
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.rowbrickworks-1 {
  padding-left: var(--space-8xl);
  padding-right: var(--space-8xl);
  gap: var(--space-sm);
  display: flex;
  align-items: flex-start;
  background-color: var(--white_a700);
  color: var(--white_a700);
  @media only screen and (max-width: 550px) {
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
  }
}

.columncategorie {
  margin-top: 20px;
  align-self: center;
  flex: 1;
}

.headerheaderlog-3 {
  gap: var(--space-3xl);
  display: flex;
  background-color: var(--gray_900);
  padding: var(--space-3xl);
  border-bottom: 1px solid var(--gray_200);
}

.rowdownload_one {
  margin-top: 12px;
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-6xl);
}

.download_one {
  height: 16px;
  margin-left: 16px;
  width: 16px;
}

.export {
  color: var(--white_a700) !important;
  padding-left: var(--space-5xl);
  padding-right: var(--space-5xl);
  font-size: 14px;
  font-weight: 700;
  background-color: var(--gray_900_01) !important;
  height: 40px;
  min-width: 154px;
  border-radius: 8px !important;
}

.columnsnone {
  margin-right: 10px;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.rowsn_one {
  background-color: var(--white_a700);
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.actions_one {
  color: var(--blue_gray_500) !important;
  margin-left: 16px;
  font-weight: 500 !important;
}

.rowfive_one {
  margin-right: 40px;
  display: flex;
  border-top: 1px solid var(--gray_200);
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-right: 0px;
  }
}

.rowtwentynineon {
  width: 46%;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.roweditfour {
  padding-left: 56px;
  padding-right: 56px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
  }
}

.rowtechnicbeams {
  flex: 1;
  display: flex;
  padding: var(--space-8xl) 56px var(--space-8xl) 62px;
  @media only screen and (max-width: 1050px) {
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
  }

  @media only screen and (max-width: 550px) {
    padding: var(--space-6xl);
  }
}
